@mixin fullScreenCentered($direction) {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}