.nav-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: $kkBackgroundSecondary;
  height: 5vh;
  a {
    color: $kkLighter;
    text-decoration: none;
    padding-right: 3%;
  }
}