// Colors
$kkDarkRed: rgb(217, 4, 41);
$kkRed: rgb(239, 35, 60);
$kkDarkGreen: rgb(0, 62, 31);
$kkMint: rgb(115, 186, 155);
$kkLightGreen: rgb(213, 242, 227);

$fadedCard: rgba(255, 255, 255, .8);

// Fonts
$bigFont: 'Special Elite', cursive;
$textFont: 'Noticia Text', serif;