// Colors
$kkDarkest: rgb(15, 14, 17);
$kkDarker: rgb(35, 37, 45);
$kkDark: rgb(43, 45, 53);
$kkLight: rgb(58, 60, 68);
$kkLighter: rgb(70, 72, 79);

$kkBackgroundMain: $kkLight;
$kkBackgroundSecondary: $kkDarkest;
$kkAccent: $kkDarker;

$fadedCard: rgba(255, 255, 255, .8);

// Fonts
$bigFont: 'Special Elite', cursive;
$textFont: 'Noticia Text', serif;