@import './variables';
@import './mixins';
// Components
@import './navBar';
@import './home';
@import './about';
@import './gallery';
@import './shortStories';
@import './blog';

body {
  .ant-btn-primary {
    border: 2px solid black;

    &:hover, &:focus, &:focus-within, &:focus-visible, &:active, &:visited, &:enabled, &:optional {
      background-color: rebeccapurple;
    }
  }

  font-family: $textFont;

  h1 {
    font-family: $bigFont;
    font-size: 3em;
  }
}